import("graphite", "ggplot2")
importFrom("AnnotationDbi", "select")
importFrom("elasticnet", "spca")
importFrom("FactoMineR","estim_ncp")
importFrom("qpgraph", "qpIPF")
importFrom("corpcor","cov.shrink")
importFrom("stats", "cov", "reorder")
importFrom("SuperExactTest", "supertest")
importFrom("RColorBrewer", "brewer.pal")
importFrom("checkmate", "assertClass")
importFrom("grDevices", "colorRampPalette")
importFrom("igraph", "V<-", "V", "make_ego_graph", "ego", "as_ids", "distances")

exportPattern("^[[:alpha:]]+")
